# -------------- custom ignore commands-------------
# ignore html folder
/engine_core/docsnew/

# ignore testing folder
engine_core/testing/
engine_core/temp/
*.DS_store
*.pyc
*.txt

# do not ignore these files
!requirements.txt
