# -------------- custom ignore commands-------------
# ignore html folder
/engine_core/docsnew/

# ignore testing folder
/engine_core/testing/
/engine_core/temp/
/engine_core/index.txt
/engine_core/idf.txt
/engine_core/urls.txt
/engine_core/postings.pkl

*.DS_store
*.pyc
project_description.txt

# do not ignore these files
!requirements.txt
