<!DOCTYPE html>
<html>
<head>
	{% block head %}
		<title>Search Engine</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	{% endblock %}
</head>

<body>
	<h1 class="text-primary" style="text-align: center">About Lei</h1>

	<div id="footer">
		{% block content %}
			<div class="container">
				<div class="row">
			        <div class="col-sm-6 col-sm-offset-3">
			            <div id="imaginary_container">
			                <div class="input-group stylish-input-group">
			                	<form action="{{ url_for('results') }}" method="POST">
			                    	<input type="text" class="form-control" name="search_query" placeholder="Search" >
								</form>
			                    <span class="input-group-addon">
			                        <button type="submit">
			                            <span class="glyphicon glyphicon-search"></span>
			                        </button>
			                    </span>
			                </div>
			            </div>
			        </div>
				</div>
			</div>
		{% endblock %}
	</div>
	<div id="content">{% block footer %}{% endblock %}</div>
</body>
</html>
